<h1>User info</h1>
   <table class="table">
     <tbody>
       <tr></tr>
       <tr>
         <th>name</th>
         <th><%= @user.name %></th>
       </tr>
       <tr>
         <th>introduction</th>
         <th></th>
       </tr>
     </tbody>
   </table>

   <%= link_to "#", edit_user_path(@user) %>